<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Frigidaire Automation Suite" parallel="methods" thread-count="4">
    <test name="Frigidaire Regression Tests">
        <parameter name="browser" value="chrome"/>
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <packages>
            <package name="com.automation.frigidaire.EPIC_01_Authentication"/>
            <package name="com.automation.frigidaire.EPIC_02_HomePage"/>
            <package name="com.automation.frigidaire.EPIC_03_PDP"/>
            <package name="com.automation.frigidaire.EPIC_04_PLP"/>
        </packages>
    </test>
</suite>