<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Frigidaire Automation Suite" parallel="tests" thread-count="2">
    <test name="Frigidaire Website Tests - Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.automation.frigidaire.tests.EPIC_02_HomePage.FrigidaireWebsiteTest"/>
        </classes>
    </test>
    <!-- You can add another test for Firefox here if you want to run in parallel -->
    <!--
    <test name="Frigidaire Website Tests - Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.automation.frigidaire.tests.EPIC_02_HomePage.FrigidaireWebsiteTest"/>
        </classes>
    </test>
    -->
</suite>